<div class="container-fluid h-75  d-flex align-items-center">
    <div id="recipe-card" class="container h-75 shadow-lg">
        <div class="row h-100">
            <div class="col h-100 p-0">
                <img class='img-fluid h-100' id="{{recipe.name}}" src="{{recipe.img}}">
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <h2 id="recipe-name">{{recipe.name}}</h2> 
                <ul class="recipe-details m-3 font align-self-start">
                    <li>{{recipe.url}}</li>
                    <li class="recipe-details">Ingredients</li>
                        <p>{{recipe.ingredients}}</p>
                    </ul>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to Meal Plan
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/mealplanner">Monday</a>
                        <a class="dropdown-item" href="/mealplanner">Tuesday</a>
                        <a class="dropdown-item" href="/mealplanner">Wednesday</a>
                        <a class="dropdown-item" href="/mealplanner">Thursday</a>
                        <a class="dropdown-item" href="/mealplanner">Friday</a>
                        <a class="dropdown-item" href="/mealplanner">Saturday</a>
                        <a class="dropdown-item" href="/mealplanner">Sunday</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>