<div id="recipe-details-container">
    <div id="recipe-details-card" class="">
        <img id="recipe-details-img" id="{{recipe.name}}" src="{{recipe.img}}">
        <div id="details-body">
            <h2 id="recipe-details-name">{{recipe.name}}</h2> 
            <div>
                <h3 id="recipe-details-ing">Ingredients</h3>
                <p id="recipe-ing-list">{{recipe.ingredients}}</p> 
            </div>
            <div id="button-container">
                <button class="detail-btn btn btn-primary save-btn" data-ing="{{recipe.ingredientLines}}" data-image="{{recipe.image}}" data-name="{{recipe.label}}" data-id="{{recipe.url}}">Save</button>
                <a href="{{recipe.url}}" class="detail-btn btn btn-primary save-btn">Recipe</a>
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add to Meal Plan
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/mealplanner">Monday</a>
                            <a class="dropdown-item" href="/mealplanner">Tuesday</a>
                            <a class="dropdown-item" href="/mealplanner">Wednesday</a>
                            <a class="dropdown-item" href="/mealplanner">Thursday</a>
                            <a class="dropdown-item" href="/mealplanner">Friday</a>
                            <a class="dropdown-item" href="/mealplanner">Saturday</a>
                            <a class="dropdown-item" href="/mealplanner">Sunday</a>
                        </div>
                    </div>
                </div> 
         </div> 
    </div>
</div>
