<div>
     <div class="container">
  {{#if recipes.length}}
  
  <div class="col-md-8 menu-container post-list">
    <h3>Search Results:</h3>

    {{#each recipes}}
    <div class="col-md-12 card d-flex">
      <div class="card-body flex-row">
        <img src="{{recipe.image}}" alt="" class="thumb">
        <h4><a href="{{recipes.url}}">{{recipe.label}}</a></h4>
        <br>
      </div>
      
      <div>
        <p>{{recipe.ingredientLines}}</p>
      </div>
      
      <div>
        <button class="btn btn-md btn-primary" data-id="{{id}}">Save</button>
        <a href="api/edit/{{id}}" class="btn">Edit</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>