<div class="container-fluid d-flex flex-wrap justify-content-center m-3 rec-card-body">
  {{#if recipes.length}}
    {{#each recipes}}
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="{{recipe.image}}" alt="{{recipe.label}}">
      
      <div class="card-body">
        <h5 class="card-title rec-name">{{recipe.label}}</h5>
        
        <button class="btn btn-primary save-button" data-image="{{recipe.image}}" data-ing="{{recipe.ingredientLines}}" data-id="{{recipe.url}}" data-name="{{recipe.label}}">Save</button>
        
        <a href="{{recipe.url}}" class="btn btn-primary">Instructions</a>
      </div>
    </div>
    {{/each}}   
  {{/if}}
</div>
<script src='/js/rec-sav.js'></script>