<div>
    {{#if userRecipes.length}}

    <div>
        <h3>{{user.username}}'s Recipes</h3>
        <div class="container-fluid h-75 d-flex flex-wrap justify-content-center">
        {{#each userRecipes}}
        
        <div class="meal-card card">
            <h3 class="card-title" id="rec-name">{{name}}</h3>
            <img class="card-image-top" data-label="rec-image" src="{{img}}" alt=""> 
            
                {{!-- <p class="card-text">{{ingredients}}</p> --}}
                <a href="{{url}}">See Full Instructions</a>
           <div>
            <button class="btn delete-button" data-id="{{id}}">Delete</button>
           </div>
        </div>
        
        {{/each}}
        </div>
        </div>
    {{/if}}
</div>
<script src="js/delete.js"></script>
{{!-- <h3 class="text-center">Meal Planner</h3>
<div class="container-fluid h-75 d-flex flex-wrap justify-content-center">
    <div class="meal-card card ">
        <img class="" src="https://www.allrecipes.com/thmb/9vcSuJHfuvou06XPXLON8VioLiM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6776_Pizza-Dough_ddmfs_4x3_1724-fd91f26e0bd6400a9e89c6866336532b.jpg" alt="">             
        <h3 class="card-title">Sunday</h3>
        <h4 class="card-title">Pepperoni Pizza</h4>
        <div class="card-body">
            <p class="card-text">Pepperoni, Pizza Dough, Tomato Sauce</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary" data-id="">Remove</a>
            <a href="" class="btn btn-primary">Link</a> 
        </div>
    </div>
    <div class="meal-card card ">
        <img class="" src="https://www.allrecipes.com/thmb/9vcSuJHfuvou06XPXLON8VioLiM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6776_Pizza-Dough_ddmfs_4x3_1724-fd91f26e0bd6400a9e89c6866336532b.jpg" alt="">             
        <h3 class="card-title">Monday</h3>
        <h4 class="card-title">Pepperoni Pizza</h4>
        <div class="card-body">
            <p class="card-text">Pepperoni, Pizza Dough, Tomato Sauce</p> 
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary" data-id="">Remove</a>
            <a href="" class="btn btn-primary">Link</a> 
        </div>
    </div>       
    <div class="meal-card card ">
        <img class="" src="https://www.allrecipes.com/thmb/9vcSuJHfuvou06XPXLON8VioLiM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6776_Pizza-Dough_ddmfs_4x3_1724-fd91f26e0bd6400a9e89c6866336532b.jpg" alt="">             
        <h3 class="card-title">Tuesday</h3>
        <h4 class="card-title">Pepperoni Pizza</h4>
        <div class="card-body">
            <p class="card-text">Pepperoni, Pizza Dough, Tomato Sauce</p>
        </div>      
        <div class="card-footer">
            <a href="#" class="btn btn-primary" data-id="">Remove</a>
            <a href="" class="btn btn-primary">Link</a> 
        </div>
    </div>
    <div class="meal-card card ">
        <img class="" src="https://www.allrecipes.com/thmb/9vcSuJHfuvou06XPXLON8VioLiM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6776_Pizza-Dough_ddmfs_4x3_1724-fd91f26e0bd6400a9e89c6866336532b.jpg" alt="">             
        <h3 class="card-title">Wednesday</h3>
        <h4 class="card-title">Pepperoni Pizza</h4>
        <div class="card-body">
            <p class="card-text">Pepperoni, Pizza Dough, Tomato Sauce</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary" data-id="">Remove</a>
            <a href="" class="btn btn-primary">Link</a> 
        </div>
    </div>
    <div class="meal-card card ">
        <img class="" src="https://www.allrecipes.com/thmb/9vcSuJHfuvou06XPXLON8VioLiM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6776_Pizza-Dough_ddmfs_4x3_1724-fd91f26e0bd6400a9e89c6866336532b.jpg" alt="">             
        <h3 class="card-title">Thursday</h3>
        <h4 class="card-title">Pepperoni Pizza</h4>
        <div class="card-body">
            <p class="card-text">Pepperoni, Pizza Dough, Tomato Sauce</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary" data-id="">Remove</a>
            <a href="" class="btn btn-primary">Link</a> 
        </div>
    </div>
    <div class="meal-card card ">
        <img class="" src="https://www.allrecipes.com/thmb/9vcSuJHfuvou06XPXLON8VioLiM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6776_Pizza-Dough_ddmfs_4x3_1724-fd91f26e0bd6400a9e89c6866336532b.jpg" alt="">             
        <h3 class="card-title">Friday</h3>
        <h4 class="card-title">Pepperoni Pizza</h4>
        <div class="card-body">
            <p class="card-text">Pepperoni, Pizza Dough, Tomato Sauce</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary" data-id="">Remove</a>
            <a href="" class="btn btn-primary">Link</a> 
        </div>
    </div>
    <div class="meal-card card ">
        <img class="" src="https://www.allrecipes.com/thmb/9vcSuJHfuvou06XPXLON8VioLiM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6776_Pizza-Dough_ddmfs_4x3_1724-fd91f26e0bd6400a9e89c6866336532b.jpg" alt="">             
        <h3 class="card-title">Saturday</h3>
        <h4 class="card-title">Pepperoni Pizza</h4>
        <div class="card-body">
            <p class="card-text">Pepperoni, Pizza Dough, Tomato Sauce</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary" data-id="">Remove</a>
            <a href="" class="btn btn-primary">Link</a> 
        </div>
    </div>
</div> --}}
