
<div id="recipe-container"class="container-fluid d-flex flex-wrap justify-content-center align-content-center m-3 rec-card-body rec-card">
  {{#if userRecipes.length}}
    {{#each userRecipes}}
    <div id="search-card" class="card m-3">
      <img class="card-img-top" src="{{img}}" alt="{{name}}">
      <p id="hidden-ingredients">{{ingredients}}</p>
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
      </div>
      <div class="d-flex justify-content-around pb-2">
        <a href="{{url}}" target="_blank" class="btn btn-primary save-btn">Recipe</a>
        <button name="details" class="btn btn-primary details" data-num="{{id}}">Details</a>
        <button id="remove" class="btn delete-button" data-id="{{id}}">Remove</button>
      </div>
    </div>
    {{/each}}   
  {{/if}}
</div>
<script src="./js/mealPlan.js"></script>
<script src="./js/delete.js"></script>
<script src="./js/details.js"></script>
