
<div class="container-fluid d-flex flex-wrap justify-content-center align-content-center m-3 rec-card-body">
  {{#if userRecipes.length}}
    {{#each userRecipes}}
    <div id="search-card" class="card m-1" style="width: 18rem;">
      <img class="card-img-top" src="{{img}}" alt="{{name}}">
      <p id="hidden-ingredients">{{ingredients}}</p>
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
      </div>
      <div class="d-flex justify-content-around pb-2">
        <a href="{{url}}" class="btn btn-primary save-btn">Recipe</a>
        <button href="/api/" id="meal-plan" class="btn btn-primary ">Details</a>
        <button class="btn delete-button" data-id="{{id}}">Remove</button>
      </div>
    </div>
    {{/each}}   
  {{/if}}
</div>
<script src="./js/mealPlan.js"></script>
